.reviews-form {
  padding: 76px 0 100px 0;
  background: #F4F5F5;
}

/* block-partners block-partners--bg--grey */

.reviews-form__title {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  margin-bottom: 44px;
}