.service {
  display: flex;
  max-height: 333px;
  background: #F2F2F2;
}

.services {
  margin-bottom: 62px;
}

.services__item {
  margin-bottom: 50px;
}

.services__item:last-child {
  margin-bottom: 0;
}

.service__img {
  width: 40%;
  margin-right: 5%;
  border-radius: 5px;
  overflow: hidden;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 28px;
  margin-top: 15px;
}

.service__desc {
  font-size: 16px;
  margin-bottom: 29px;
  line-height: 1.7;
}
