 /* .welcome {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  overflow: auto;
  background: url(./../../img/shades.png) top 290px center no-repeat;
}

.welcome__logo {
  margin-bottom: 5px;
}

.welcome__tagline {
  font-size: 18px;
  margin-bottom: 30px;
}

.welcome__button {
  padding: 20px 55px;
}  */

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(./../../img/screen.jpg) center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1s;
}

.central_tagline {
  margin-bottom: 50px;
  font-size: 18px;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
