 .welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(./../../img/screen.jpg) center bottom / cover no-repeat;
}

/* .welcome__shades {
  background: url(./../../img/shades.png) center bottom 35px no-repeat;
} */

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1s;
  width: 575px;
  background: url(./../../img/shades.png) center bottom 35px no-repeat;
}

.central_tagline {
  margin-bottom: 50px;
  font-size: 18px;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
